{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Новостной сайт</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1>Новостной сайт</h1>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Категории</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </header>
<body>
        <div class="container">
        <!-- Остальной контент страницы -->
            {% block content %}
            {% for post in news_post %}
            <h2>{{ post.headerPost }}</h2>
            <p>{{ post.textPost }}</p>
            {% endfor %}
            {% endblock content %}
    </div>
</body>
</html>